body
{
	background-color:grey;
	padding:0px;
	margin:0px;
}
#outside
{
	position:relative;
	padding:22px;
	width:1150px;
	min-height:100vh;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	box-shadow: 5px 0px 200px #5A5A5A;
}
#left
{
	position:absolute;
	left:25px;
	top:43px;
	width:120px;
	text-align:center;
	background-color:#D0D0D0;
	border-style:solid;
	border-color:#383838;
	padding:5px;
	box-shadow: 2px 2px 7px #888888;
}
#right
{
	position:absolute;
	right:25px;
	top:43px;
}
#content
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:700px;
	right:65px;
}
.leftlink
{
	font-family:Arial,Helvetica,Sans-serif;
	display:block;
	color:black;
	padding:0px;
	text-decoration:none;
	text-transform:uppercase;
	border-style:solid;
	border-width:1px;
	border-top:none;
	border-left:none;
	border-right:none;
	border-color:#C0C0C0;
}
a:hover.leftlink
{
	background-color:grey;
}
div:hover.leftlink
{
	background-color:grey;
}
.lefthead
{
	font-family:Arial,Helvetica,Sans-serif;
	display:block;
	color:black;
	padding:0px;
	text-decoration:none;
	text-transform:lowercase;
	border-style:solid;
	border-width:2px;
	border-color:#707070;
}
#title
{
	background-color:grey;
	text-align:center;
	box-shadow: 2px 2px 7px #888888;
}

.news
{
}


table
{
	border-collapse:collapse;
	box-shadow: 2px 2px 7px #888888;
}
table, td, th
{
	border:3px solid grey;
	vertical-align:middle;
	padding:5px;
}
td.empty
{
	background-color:red;
}

.popup
{
	display:block;
	position:absolute;
	left:300px;
	top:200px;
	z-index:1000;
	width:500px;
	text-align:center;
	background-color:#D0D0D0;
	border-style:solid;
	border-color:#383838;
	padding:5px;
	box-shadow: 10px 10px 20px #888888;
}

th
{
background-color:grey;
}
