{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>DC team Launchpad Login</title>
</head>
<body>
<link rel="stylesheet" type="test/css" href="{% get_static_prefix %}/main/main.css">
<form name="login" action="{% url main %}" method="POST">
{% csrf_token %}
<div id="outside">
<table align="center" border=1>
<tr>
<th id="title">welcome to the DC Team Lanchpad</th>
</tr>
<tr>
<td>please login</td>
</tr>
<tr>
<td>username:<input type="text" name="username"></td>
</tr>
<tr>
<td>password:<input type="password" name="password"></td>
</tr>
<tr>
<td><input type="submit" value="login"></td>
</tr>
</table>
</form>
</div>
</body>
</html>

