{% extends "main/base.html" %}
{% block sidebar %}
<div class="lefthead">news</div>
<div id="newspost" class="leftlink" onclick="javascript:newspost()">post</div>
<div id="message" class="leftlink" onclick="javascrpt:message()">message</div>
<div id="delete" class="leftlink" onclick="javascript:deletenews()">delete</div>
{% endblock %}
{% block javascript %}
function newspost()
    {
    $.ajax({
	url: '{% url postnews %}',
	success: function(data) {
	    $("#popup").addClass("popup");
	    $("#popup").html(data);
	}
    });
    }

function message()
    {
    $.ajax({
        url: '{% url message %}',
        success: function(data) {
            $("#popup").addClass("popup");
            $("#popup").html(data);
        }
    });
    }

function deletenews()
    {
    $.ajax({
        url: '{% url deletenewspost %}',
        success: function(data) {
            $("#popup").addClass("popup");
            $("#popup").html(data);
        }
    });
    }


{% endblock %}
