{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>

function drivetool()
    {
    $.ajax({
	url: '/drivetool/',
	success: function(data) {
	    $("#popup").addClass("popup");
	    $("#popup").html(data);
	}
    });
    }



function closepopup()
    {
	$("#popup").removeClass("popup");
	$("#popup").html("");
    }

var seconds = 600;
$(document).ready(setInterval(function()
    {
    $.ajax({
	url: "{% url shotclock %}",
        success: function(data) {
            $("#shotclock").html(data);
            }
        });

    }), seconds * 10000);

{% block javascript %}{% endblock %}
{% block javascript2 %}{% endblock %}
</script>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="test/css" href="{% static 'main/main.css' %}">
</head>
<body style="background-color:grey;">
	<div id="outside">
		<div class="navbar">
			<a href="{% url edituser %}" class="navbarhead">{{ username }}</a>
			<a href="{% url index %}" class="navbarlink">newsfeed</a>
			<a href="http://omega.wowrack.com/support/" class="navbarlink" target="_blank">Omega</a>
			<a href="https://portal.wowrack.com/wiki/Wiki%20Pages/Datacenter%20Tech%20Support%20Wiki.aspx" class="navbarlink" target="_blank">DC team Wiki</a>
			<a href="https://esupport.wowrack.com/staff/index.php?/Base/Home/Index" class="navbarlink" target="_blank">Wowrack</a>
			<a href="https://esupport.serverstadium.com/staff/index.php?/Base/Dashboard/Index" class="navbarlink" target="_blank">Server Stadium</a>
			<a href="https://10.10.6.102/ssaddip/" class="navbarlink" target="_blank">IP Assigner</a>
			<div id="drivetoollink" class="navbarlink" onclick="javascript:drivetool()">Drivetool</div>
			<a href="{% url logout %}" class="navbarlink" style="border-style:none;">logout</a>
		</div>
		{% block sidebar %}{% endblock %}
 		<div id="popup"></div>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<div id="rightstuff">
			<div id="shotclock">
				Loading....
			</div>
			<br />
			<br />

			<div id="statusbar">
			</div>
  		</div>
	</div>
</body>
</html>
